{% comment %} {% extends "base.html" %}
{% load static %}


<title>{% block title %}Login {% endblock title %}Login </title>


{% block content %}
<h1>Login Page</h1>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
        <input type="submit" value="Login">
    </p>
    {% comment %} <a href="{% url 'password_reset' %}">Forgot Password?</a>
    <a href="{% url 'account_signup' %}">Don't have an account? Sign Up</a> {% endcomment %}
</form>

{% comment %} <div>
    <img src="{% static 'images/logo.png' %}" alt="Logo" style="width: 200px; height: 100px;">
</div> {% endcomment %}
{% endblock content %} {% endcomment %}
