{% extends "base.html" %}
{% load static %}


<title>{% block title %}Login {% endblock title %}</title>


{% block content %}
<h1>Login Page</h1>


{% if from.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% else %}
<p>
    Please login with your username and password below. <br>
    Don't have an account? <a href="{% url 'register' %}">Sign up here.</a>
</p>
{% endif %}

<div class="login-form">
    <form method="POST" action="{% url 'login' %}">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{next}}">
        <p>
            <input type="submit" value="Login">
        </p>

    </form>
    <p>
        <a href="{% url 'password_reset' %}">Forgot Password?</a>
</div>


{% endblock content %} 